/* Add basic styling for NavLinks */
/* .nav {
  display: "inline-block";
  width: 70%;
  padding: 12px;
  margin: 0 6px 6px;
  border-radius: 75px;
  background: #004400;
  text-decoration: none;
  text-align: center;
  color: white;
} */

/* .nav:hover {
  background: #8faacc;
  color: white
} */

.stickyNav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1
}

.mainContainer {
  margin-top: 10px;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  padding: 1rem;
}

.home-bg {
  background: url("./assets/images/splash.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: auto;
  background-color: #004400;
}

.about {
  min-height: 100vh;
  z-index: 1;
}

div.transbox {
  margin: 20px;
  background-color: #004400;
  opacity: 0.65;
  width: 55%;
  border-radius: 25px;
}

div.transbox section {
  margin: 10px;
  color: #ffffff;
  padding: 20px;
}

div.transbox h1 {
  font-weight: bold;
  color: #ffffff;
  padding: 0 0 10px 0;
}

.see-more {
  transition-delay: 3s;
}